/*
    Global styles can be registered here. You can use these styles throught nodes in
    the application by appending these methods:
            .getStyleClass().add("class-name-goes-here")
            .getStyleClass().addAll("classOne", "classTwo")
*/

.separator-black{
    -fx-background-color: black;
    /* -fx-padding: 10px 0px 20px 0px; */
}

.clickable {
    -fx-cursor: hand;
}

.clickable:hover {
    -fx-background-color: #d8d8d8;
}

/*------------------------------------------------------------------------------*/

.top-nav-bar-styling {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0; /* Sets the border width: top, right, bottom, left */
    -fx-border-color: #949494;

    -fx-padding: 1px;
}

.navbar-label {
    -fx-padding: 3px;
}


/*------------------------------------------------------------------------------*/

.icon-project {
    -fx-font-size: 18px;   
}


.icon-bar {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #949494;

    -fx-padding: 3px;

    -fx-font-size: 16px;
}

.menu-icon-styling {
    -fx-fit-width: 10px;  /* Set the width */
    -fx-fit-height: 10px; /* Set the height */
}

.side-bar-styling {
    -fx-background-color: #e4e4e4;
}

.side-bar-item-styling {
    -fx-padding: 4px;
}

.header {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

/*------------------------------------------------------------------------------*/


.footer-styling {
    -fx-font-style: italic;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-alignment: center;

    -fx-background-color: #cccccc;
    
    -fx-padding: 1.5px;
}


/*------------------------------------------------------------------------------*/

.main-content {
    -fx-padding: 5px 15px 5px 15px;
}

.welcome-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;

    /* -fx-border-style: solid;
    -fx-border-width: 0 0 1 0; 
    -fx-border-color: #1f1f1f; */
}

.welcome-text {
    -fx-font-size: 14px;
}

.project-information-label {
    -fx-font-weight: bold;
}

.project-content {
    -fx-font-size: 15px;
}